.env
*.claude
*Kenneth
*.ipynb
*.csv
!processed/breaststroke_sample.csv
!processed\sample_br_1.csv
!processed\sample_br_2.csv
*CLAUDE.md
*.html
*.txt
!requirements.txt
/__pycache__/
/scripts
*.mp4
*.md
!README.md
/Side_above_water
/Side_underwater
/Side_water_level
/Breaststroke
/Front
/Pose
/as5600_logger_ble
/Aerial
/.paul